<html>
    <body>

    <div class="container">
        <app-monster></app-monster>
    </div>
    
    <script>
/*
var xd = {
    "Id":2,
    "Name":"Spectre",
    "Exp":1,
    "HP":2,
    "MovementSpeed":220,
    "SeeingInvisible":true,
    "ImageLink":null
}
        const url = "http://paksoft.gear.host/home/read" ;
        async function getMonster()
        {
            const response = await fetch(url)
            const data = await response.json();
            console.log(data);
            console.log(xd);
        }
        getMonster();
        */
    </script>
    </body>
</html>