:host ::ng-deep .p-button {
  margin: 0 .5rem 0 0;
  min-width: 10rem;
}

p {
  margin: 0;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
  margin-right: 0;
}

p-dialog {
  min-width: 20vw;
  width: fit-content;
}

::ng-deep .p-warning div div div .p-dialog-title {
  color: #FBC02D;
}

::ng-deep .p-danger div div div .p-dialog-title {
  color: #D32F2F;
}

::ng-deep .p-success div div div .p-dialog-title {
  color: #689F38;
}
