<p-dialog #dialog [(visible)]="displayModal"
          class="{{ classMap.get(modalType) }}"
          [modal]="true"
          [maximizable]="false"
          [baseZIndex]="10000"
          [draggable]="false"
          [resizable]="false"
          [position]="ModalPosition.TOP"
          [header]="titleMap.get(modalType)"
          (onHide)="closeModal($event)">
  <app-edit-form *ngIf="isTypeOf(ModalType.EDITING)" [monster]="monster" (closeModal)="displayModal = !$event"></app-edit-form>
  <app-add-form *ngIf="isTypeOf(ModalType.ADDING)" (closeModal)="displayModal = !$event"></app-add-form>
  <app-remove-form *ngIf="isTypeOf(ModalType.REMOVING)" [monster]="monster" (closeModal)="displayModal = !$event"></app-remove-form>
  <div *ngIf="loading" class="overlay">
  </div>
</p-dialog>
<p-progressSpinner *ngIf="loading" [animationDuration]="'2s'"></p-progressSpinner>
