.p-field {
  position: relative;
}

label {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: .7rem;
  padding: .25rem;
  transition: all .3s;

  &[for*="SeeingInvisible"] {
    z-index: -1;
  }
}

input:focus + label, input.p-filled + label, p-dropdown.p-inputwrapper-filled + label {
  bottom: 1.5rem;
  font-size: .75rem;
  margin-left: 1.3rem;
  transition: all .3s;
  background-color: white;
  z-index: 1;
}

p-button {
  float: right;

  button {
    margin-right: 0;
  }
}
