<div class="pt-5 pb-5">
  <p-table [value]="monsters">
    <ng-template pTemplate="header">
      <tr>
        <th>Image</th>
        <th>Id</th>
        <th>Name</th>
        <th>Exp</th>
        <th>HP</th>
        <th>MovementSpeed</th>
        <th>SeeingInvisible</th>
        <th>Akcje</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-monster>
      <tr>
        <td><img [src]="monster.ImageLink" /></td>
        <td>{{monster.Id}}</td>
        <td>{{monster.Name}}</td>
        <td>{{monster.Exp}}</td>
        <td>{{monster.HP}}</td>
        <td>{{monster.MovementSpeed}}</td>
        <td>{{monster.SeeingInvisible}}</td>
        <td>
          <button (click)="deleteMonster(monster.Id)">X</button>
          <button (click)="toggleEdition(monster)">E</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-edit-dialog [monster]="currentMonster"
                 [displayModal]="editMonster"
                 (modalClosed)="editMonster = $event">
</app-edit-dialog>
