h1 {
  margin-bottom: 0;
}

.carousel-item {
  height: calc(100vh - 52px);

  img {
    height: 100%;
  }
}

#carouselExampleIndicators h1 {
  text-align: center;
  background-color: transparent;
  position: absolute;
  z-index: 100;
  color: lightgray;
  top: 1rem;
}
